<!-- 
  @Author: Aimé
  @Date:   2022-11-03 14:44:02
  @Last Modified by:   Aimé
  @Last Modified time: 2022-12-07 18:49:00
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>LINE</title>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
    <th:block th:include="fragments/custom.html :: head-volume"></th:block>
</head>

<body>
    <div class="main"> 
        <div class="vol">
            <div>Main Volume</div>
            <div id="volumeDiv">65%</div>
        </div>
        <div class="prev-div">
            <a href="/advanced" class="previous round">&#9881;</a>
        </div>
        <div class="controls">
            <button class="button-left" id="decreaseVolumeBTN">&#128265;</button>
            <button class="button-mid" id="muteBTN">&#128263;</button>
            <button class="button-right" id="increaseVolumeBTN">&#128266;</button>
        </div>
        <div class="controls">
            <button class="button-left" id="previousBTN">&#9198;</button>
            <button class="button-mid" id="playPauseBTN">&#9208;</button>
            <button class="button-right" id="nextBTN">&#9197;</button>
        </div>
    </div>

    <th:block th:include="fragments/custom.html :: script-cdn"></th:block>
</body>

</html>