<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragments/custom.html :: head-custom"></th:block>
</head>

<body>
    <!--/*@thymesVar id="Audio" type="be.freeaime.systemaudiovolumeapp.views.Audio"*/-->
    <div class="menu-container">
        <div class="menu-item-details-container">
            <div class="title">MIXERS</div>
            <th:block th:each="mixer :${Audio.getMixers()}">
                <!--/*@thymesVar id="mixerName" type="java.lang.String"*/-->
                <div th:if="${ mixerName!=null && #strings.containsIgnoreCase(mixer.getName(), mixerName)}"
                    class="menu-item menu-item-selected" th:text="${mixer.getName()}"></div>
                <a th:unless="${mixerName!=null && #strings.containsIgnoreCase(mixer.getName(), mixerName)}"
                    th:href="@{/mixer/{mn}(mn=${mixer.getName()})}">
                    <div class="menu-item" th:text="${mixer.getName()}"></div>
                </a>
            </th:block>
        </div>
    </div>

</body>

</html>